<!DOCTYPE html>
<!--Thymeleafを利用する宣言-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Hello</title>
<meta charset="utf-8" />
<link rel="stylesheet" th:href="@{css/style.css}">
	<link rel="stylesheet" th:href="@{css/style.css}">
	<link rel="stylesheet" th:href="@{css/reset.css}">
	<link rel="stylesheet" th:href="@{css/variable.css}">
</head>
<body>
	
	<h1 class="Title" th:text="${message}"></h1>
	<a class="button" href="login/input.html" th:href="@{/login}">Let's Login!</a>
</body>
</html>