<!DOCTYPE html>
<!--Thymeleafを利用する宣言-->
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>ECcom</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" th:href="@{css/style.css}">
	<link rel="stylesheet" th:href="@{css/style.css}">
	<link rel="stylesheet" th:href="@{css/reset.css}">
	<link rel="stylesheet" th:href="@{css/variable.css}">
</head>

<body>

	<h1 class="Title" th:text="${message}"></h1>
	<form class="Form" method="get" action="#" th:action="@{/index}" th:object="${users}">
		<h2 class="Form_accountmake" th:text="${logMessa}">ログイン</h2>
		<div class="Form_Box">
			<p class="Form_Email">メールアドレス</p>
			<input class="input" type="email" name="email" th:value="*{email}">
			<p class="Form_Password">パスワード</p>
			<input class="input" type="password" name="password" th:value="*{password}">
		</div>
		<input class="button" type="submit" value="次へ進む">
	</form>
</body>
<p class="AccountmakeLinkAnounce">初めてEccomを利用しますか?</p>
<a class="Accountmake" href="login/input.html" th:href="@{/login}"><button class="Accountmake_button">アカウントを作成する</button></a>
</body>

</html>