<!DOCTYPE html>
<!--Thymeleafを利用する宣言-->
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Login</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" th:href="@{css/style.css}">
	<link rel="stylesheet" th:href="@{css/reset.css}">
	<link rel="stylesheet" th:href="@{css/variable.css}">
</head>

<body>
	<h1 class="Title" th:text="${title}"></h1>
	<!--入力内容確認-->
	<section class="Form" th:object="${users}">
		<h2 class="Form_accountmake">登録</h2>
		<ul class="Form_Box">
			<li class="Form_Name" th:text="*{name}">名前</li>
			<li class="Form_Email" th:text="*{email}">email</li>
			<li class="Form_Password" th:text="*{password}">password</li>
		</ul>
		<!--入力内容変更の場合loginへ戻す-->
		<form method="get" action="#" th:action="@{/login}">
			<input type="hidden" name="name" th:value="*{name}">
			<input type="hidden" name="email" th:value="*{email}">
			<input type="hidden" name="password" th:value="*{password}">
			<input class="button" type="submit" value="書き直す">
		</form>
		<!--入力内容確定の場合登録-->
		<form method="get" action="#" th:action="@{/submit}">
			<input type="hidden" name="name" th:value="*{name}">
			<input type="hidden" name="email" th:value="*{email}">
			<input type="hidden" name="password" th:value="*{password}">
			<input class="button" type="submit" value="登録">
		</form>
	</section>
</body>

</html>