<!DOCTYPE html>
<!--Thymeleafを利用する宣言-->
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Login</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" th:href="@{css/style.css}">
</head>

<body>
	<h1 class="Title" th:text="${login}"></h1>

	<form class="Form" method="get" action="#" th:action="@{/confirm}" th:object="${users}">
		<h2 class="Logintext">ログイン</h2>
		<p>名前：<input type="text" name="name" th:value="*{name}" ></p>
		<p>email：<input type="email" name="email" th:value="*{email}" ></p>
		<p>password : <input type="text" name="password" th:value="*{password}" ></p>
		<input type="submit" value="送信">
	</form>
</body>

</html>